/* ########################## */
/* Page */
/* ########################## */

html,
body {
    margin: 0;
    padding: 0;
    background-color: #E8D1A7;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}


/* ########################## */
/* Navbar */
/* ########################## */

.cafe-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 20px 24px;
    background-color: transparent;
}

.nav-left,
.nav-right {
    flex: 0 0 220px;
    display: flex;
    align-items: center;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

/* Logo */
.logo-image {
    width: 150px;
    height: auto;
    display: block;
}

/* Center area */
.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.center-pills {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0;
    padding: 10px 14px;
    list-style: none;
    background-color: #B38E65;
    border-radius: 40px;
}

.center-pills .nav-link {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    border-radius: 40px;
    padding: 10px 20px;
    transition: 0.2s ease;
}

.center-pills .nav-link:hover {
    color: #000000;
    background-color: #d8bb8f;
}

.center-pills .nav-link.active {
    background-color: #E8D1A7;
    color: #000000;
}

/* Right icon bar */
.icon-nav {
    display: flex;
    align-items: center;
    height: 75px;
    width: 180px;
    gap: 16px;
    list-style: none;
    margin: 0;
    background-color: #B38E65;
    border-radius: 40px;
}

.icon-nav .nav-item {
    display: flex;
    align-items: center;
}

.icon-nav img {
    width: 24px;
    height: 24px;
    filter: brightness(0);
    display: block;
}

/* ########################## */
/* Home Page Content */
/* ########################## */

.main-content {
    padding: 32px;
}

.btn {
    background-color: #E8D1A7;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 10px;

    min-width: 200px;
}

.p-3 {
    background-color: #B38E65;
    border-radius: 16px;
}

.venue-form-floating {
    padding: 30px 0px 0px;
}

/* ########################## */
/* Responsive */
/* ########################## */

@media (max-width: 991.98px) {

    .cafe-navbar {
        flex-direction: column;
        align-items: stretch;
        gap: 16px;
    }

    .nav-left,
    .nav-center,
    .nav-right {
        flex: unset;
        width: 100%;
        justify-content: center;
    }

    .nav-left {
        justify-content: center;
    }

    .center-pills {
        justify-content: center;
        flex-wrap: wrap;
    }

    .image-container,
    .info-card {
        min-height: auto;
        height: auto;
    }

    .image-container {
        height: 350px;
    }
}